<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.url">jdbc:postgresql://localhost:5434/fastdelivery</property>
		<property name="hibernate.connection.username">postgres</property>
		<property name="hibernate.connection.password">1234</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">create</property>

		<mapping class="fast_delivery.web.model.enitdades.Cliente"></mapping>
		<mapping class="fast_delivery.web.model.enitdades.ContaCorrente"></mapping>
		<mapping class="fast_delivery.web.model.enitdades.Empresa"></mapping>
		<mapping class="fast_delivery.web.model.enitdades.Endereco"></mapping>
		<mapping class="fast_delivery.web.model.enitdades.Fornecedor"></mapping>
		<mapping class="fast_delivery.web.model.enitdades.Produto"></mapping>
		<mapping class="fast_delivery.web.model.enitdades.LancamentoFinanceiro"></mapping>
		<mapping class="fast_delivery.web.model.enitdades.PedidoVenda"></mapping>

	</session-factory>
</hibernate-configuration>